.sidebar-fin {
    position: fixed;
    display: block;
    list-style-type: none;
    right: -3.2em;
    top: 15%;
    -webkit-animation: slideright 1s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slideright 1s forwards;
    animation-delay: 1.5s;
}

@keyframes slideright {
    100% {
        right: 0;
    }
}

.sidebar-fin li {
    margin-bottom: 60px;
    margin-right: -24px;
    padding: 0 15px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    background-color: rgba(30, 45, 127, 0.75);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    -webkit-transition: width .5s, background-color .1s;
    transition: width .5s, background-color .1s;

}

.sidebar-fin li a {
    font-size: 14px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: #ebebeb;
}

.sidebar-fin li:hover {
    background-color: rgba(30, 45, 127, 1);
    color: #fff;
}

.race_with_toper {
    position: absolute;
    border: 2px solid #fdc00a;
    top: calc(15% + 70px);
    right: 45px;
    background: #fff;
    border-radius: 10px;
    /* visibility: hidden; */
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-name: cssAnimation;
    animation-duration: 15s;
    visibility: hidden;
    /* animation-delay: 5s; */

}



@keyframes cssAnimation {
    /* 0% {visibility: hidden;} */
    25%  {visibility: visible;}
    100% {visibility: hidden;}
  }

@-webkit-keyframes cssAnimation {
    to {
        visibility: hidden;
    }
}

.arrow {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    transform: rotateZ(45deg);
    right: -10px;
    top: calc(50% - 10px);
    animation: cssAnimation;
    border-right: 2px solid #fdc00a;
    border-top: 2px solid #fdc00a;
}