.progress-bar {
    background-color: transparent;
    border-bottom-style: dashed;
    border-color: #ecca31;
    padding: 0.5em 0;
    margin: 0;
}
.vehicle {
    width: 40px;
    font-size: small;
}
.vehicle span {
    color: #ffcc97;
}